///
/// TYPOGRAPHY
///

    @import 'font-face';
    @import 'icons';

/** #Calligraffiti
================================================== */
    @mixin calli {
        font-family: 'Calligraffiti', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-style: normal;
        font-weight: 400;
    }


/** #OPEN SANS
================================================== */
    @mixin opensans-light {
        font-family: 'Open Sans Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-style: normal;
        font-weight: 300;
    }
    @mixin opensans-light-italic {
        font-family: 'Open Sans Light Italic', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-style: italic;
        font-weight: 300;
    }
    @mixin opensans {
        font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-style: normal;
        font-weight: 400;
    }
    @mixin opensans-italic {
        font-family: 'Open Sans Italic', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-style: italic;
        font-weight: 400;
    }
    @mixin opensans-semibold {
        font-family: 'Open Sans Semi-Bold', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-style: normal;
        font-weight: 600;
    }
    @mixin opensans-semibold-italic {
        font-family: 'Open Sans Semi-Bold Italic', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-style: italic;
        font-weight: 600;
    }
    @mixin opensans-bold {
        font-family: 'Open Sans Bold', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-style: normal;
        font-weight: 700;
    }
    @mixin opensans-bold-italic {
        font-family: 'Open Sans Bold Italic', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-style: italic;
        font-weight: 700;
    }
    @mixin opensans-extrabold {
        font-family: 'Open Sans Extra-Bold', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-style: normal;
        font-weight: 800;
    }
    @mixin opensans-extrabold-italic {
        font-family: 'Open Sans Extra-Bold Italic', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-style: italic;
        font-weight: 800;
    }


/** #ROBOTO
================================================== */
    @mixin roboto-thin {
        font-family: 'Roboto Thin', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-style: normal;
        font-weight: 100;
    }
    @mixin roboto-thin-italic {
        font-family: 'Roboto Thin Italic', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-style: italic;
        font-weight: 100;
    }
    @mixin roboto-light {
        font-family: 'Roboto Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-style: normal;
        font-weight: 300;
    }
    @mixin roboto-light-italic {
        font-family: 'Roboto Light Italic', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-style: italic;
        font-weight: 300;
    }
    @mixin roboto {
        font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-style: normal;
        font-weight: 400;
    }
    @mixin roboto-italic {
        font-family: 'Roboto Italic', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-style: italic;
        font-weight: 400;
    }
    @mixin roboto-medium {
        font-family: 'Roboto Medium', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-style: normal;
        font-weight: 500;
    }
    @mixin roboto-medium-italic {
        font-family: 'Roboto Medium Italic', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-style: italic;
        font-weight: 500;
    }
    @mixin roboto-bold {
        font-family: 'Roboto Bold', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-style: normal;
        font-weight: 700;
    }
    @mixin roboto-bold-italic {
        font-family: 'Roboto Bold Italic', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-style: italic;
        font-weight: 700;
    }
    @mixin roboto-black {
        font-family: 'Roboto Black', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-style: normal;
        font-weight: 900;
    }
    @mixin roboto-black-italic {
        font-family: 'Roboto Black Italic', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-style: italic;
        font-weight: 900;
    }

/** #ROBOTO CONDENSED
================================================== */
    @mixin roboto-condensed-light {
        font-family: 'Roboto Condensed Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-style: normal;
        font-weight: 300;
    }
    @mixin roboto-condensed-light-italic {
        font-family: 'Roboto Condensed Italic', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-style: italic;
        font-weight: 300;
    }
    @mixin roboto-condensed {
        font-family: 'Roboto Condensed', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-style: normal;
        font-weight: 400;
    }
    @mixin roboto-condensed-italic {
        font-family: 'Roboto Condensed Italic', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-style: italic;
        font-weight: 400;
    }
    @mixin roboto-condensed-bold {
        font-family: 'Roboto Condensed Bold', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-style: normal;
        font-weight: 700;
    }
    @mixin roboto-condensed-bold-italic {
        font-family: 'Roboto Condensed Bold Italic', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-style: italic;
        font-weight: 700;
    }
