///
/// TYPOGRAPHY
///

    /// @import 'font-face';
    /// @import 'icons';

/** #Calligraffiti
================================================== */
    @mixin calli {
        font-family: 'Calligraffitti', cursive;
        font-style: normal;
        font-weight: 400;
    }

/** #ROBOTO
================================================== */
    @mixin roboto-thin {
        font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-style: normal;
        font-weight: 100;
    }
    @mixin roboto-thin-italic {
        font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-style: italic;
        font-weight: 100;
    }
    @mixin roboto-light {
        font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-style: normal;
        font-weight: 300;
    }
    @mixin roboto-light-italic {
        font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-style: italic;
        font-weight: 300;
    }
    @mixin roboto {
        font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-style: normal;
        font-weight: 400;
    }
    @mixin roboto-italic {
        font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-style: italic;
        font-weight: 400;
    }
    @mixin roboto-medium {
        font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-style: normal;
        font-weight: 500;
    }
    @mixin roboto-medium-italic {
        font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-style: italic;
        font-weight: 500;
    }
    @mixin roboto-bold {
        font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-style: normal;
        font-weight: 700;
    }
    @mixin roboto-bold-italic {
        font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-style: italic;
        font-weight: 700;
    }
    @mixin roboto-black {
        font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-style: normal;
        font-weight: 900;
    }
    @mixin roboto-black-italic {
        font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-style: italic;
        font-weight: 900;
    }

/** #ROBOTO CONDENSED
================================================== */
    @mixin roboto-condensed-light {
        font-family: 'Roboto Condensed', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-style: normal;
        font-weight: 300;
    }
    @mixin roboto-condensed-light-italic {
        font-family: 'Roboto Condensed', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-style: italic;
        font-weight: 300;
    }
    @mixin roboto-condensed {
        font-family: 'Roboto Condensed', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-style: normal;
        font-weight: 400;
    }
    @mixin roboto-condensed-italic {
        font-family: 'Roboto Condensed', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-style: italic;
        font-weight: 400;
    }
    @mixin roboto-condensed-bold {
        font-family: 'Roboto Condensed', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-style: normal;
        font-weight: 700;
    }
    @mixin roboto-condensed-bold-italic {
        font-family: 'Roboto Condensed', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-style: italic;
        font-weight: 700;
    }


///
/// ICONS
///

    @import 'icons';
