/* #TRANSFORMATIONS
================================================== */
     @mixin transform($transform) {
          -webkit-transform: $transform;
              -ms-transform: $transform;
             -moz-transform: $transform;
               -o-transform: $transform;
                  transform: $transform;
     }

     /// TRANSFORMATION ORIGIN
     @mixin transform-origin($origin) {
          -webkit-transform: rotate($origin);
              -ms-transform: rotate($origin);
             -moz-transform: rotate($origin);
               -o-transform: rotate($origin);
                  transform: rotate($origin);
     }

     /// TRANSFORMATION ROTATE
     @mixin transform-rotate($degree) {
          -webkit-transform: rotate($degree);
              -ms-transform: rotate($degree);
             -moz-transform: rotate($degree);
               -o-transform: rotate($degree);
                  transform: rotate($degree);
     }

     /// TRANSFORMATION STYLE
     @mixin transform-style($style) {
          -webkit-transform:-style rotate($style);
               ms-transform-style: rotate($style);
             -moz-transform-style: rotate($style);
               -o-transform-style: rotate($style);
                  transform-style: rotate($style);
     }
