///
/// BUTTONS
///
    .btn {
        @include border-radius($border-radius-large);
        @include roboto-medium;
        //@include transition(0.3s all ease-in-out);

        .icon {
            @include transition(0.3s all ease-in-out);
        }
    }

    .btn-raised {
        @include btn-shadow();

        &,
        &:active,
        &.active {
            &:focus,
            &.focus {
                outline: none;
            }
        }
        &:hover,
        &:focus,
        &.focus {
            outline: none;
        }
    }

    /// Flat Buttons
    .btn-flat {
        background-color: transparent;
        border: none;
        border-bottom: 2px solid transparent;
        border-radius: 0;
        box-shadow: none !important;
        &:active,
        &.active,
        &:focus,
        &.focus,
        &:hover,
        .open > &.dropdown-toggle {
            border-color: $brand-primary;
        }

        &.btn-default {
            @include btn-flat($btn-default-bg, $btn-default-border);
        }
        &.btn-primary {
            @include btn-flat($btn-primary-bg, $btn-primary-border);
        }
        // Success appears as green
        &.btn-success {
            @include btn-flat($btn-success-bg, $btn-success-border);
        }
        // Info appears as blue-green
        &.btn-info {
            @include btn-flat($btn-info-bg, $btn-info-border);
        }
        // Warning appears as orange
        &.btn-warning {
            @include btn-flat($btn-warning-bg, $btn-warning-border);
        }
        // Danger and error appear as red
        &.btn-danger {
            @include btn-flat($btn-danger-bg, $btn-danger-border);
        }
    }
