/local-config.php
/wp-config.php
/sql-dump-*.sql
/db-sync
/content/upgrade/

.tmp
*.sass-cache
.idea
node_modules
bower_components

content/plugins/*
content/upgrade/*
content/uploads/*

sitemap.xml
sitemap.xml.gz

readme.html
license.txt
.log
.DS_Store

prepros.cfg
config.codekit