# See http://help.github.com/ignore-files/ for more about ignoring files.

# COMPILED OUTPUT
/dist
/tmp
/.tmp
/out-tsc
/package

# CONFIG
/local-config.php
/wp-config.php

# CONTENT & DATA
/content/upgrade/
/db-sync
/sql-dump-*.sql

# DEPENDENCIES
/bower_components
/node_modules
package-lock.json

# E2E
/e2e/*.js
/e2e/*.map

# IDE'S AND EDITORS
/*.launch
/*.sublime-workspace
/.c9/
/.classpath
/.idea
/.project
/.settings/

# MISC.
*.tgz
/.chrome
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
/typings
npm-debug.log
testem.log
yarn-error.log

# SYSTEM FILES
.DS_Store
*.DS_Store
.AppleDouble
.LSOverride
._*
Thumbs.db
