# Auto detect text files and perform LF normalization
* text=auto

*.bat eol=crlf
*.cmd eol=crlf
*.ps1 eol=lf
*.sh eol=lf

# JS and TS files must always use LF for tools to work
*.js eol=lf
*.ts eol=lf
