///
/// CEREMONY
///
    .section.ceremony {
        padding-top: 135px;
        padding-bottom: 0;
        // LARGER SCREENS
        @media screen and (min-width: $grid-float-breakpoint) {
            padding-top: 235px;
        }

        // SMALLER SCREENS
        @media screen and (max-width: $grid-float-breakpoint) {
            .section-title {
                font-size: $font-size-h3;
            }
        }

        .section-background {
            bottom: 0;
            display: block;
            height: 590px;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: -9998;
            .section-background-image {
                @include background-size(cover);
                background: linear-gradient(rgba($gray-darker, 0.15), rgba($gray-darker, 0.15)),
                            linear-gradient(rgba($white, 0.15), rgba($white, 0.15)),
                            url("../images/masthead/masthead2-mobile.jpg");
                background-position: center -150px;
                background-repeat: no-repeat;
                bottom: 0;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                z-index: -9999;

                // LARGER SCREENS
                @media screen and (min-width: $screen-sm-min) {
                    background: linear-gradient(rgba($gray-darker, 0.15), rgba($gray-darker, 0.15)),
                            linear-gradient(rgba($white, 0.15), rgba($white, 0.15)),
                            url("../images/masthead/masthead2.jpg");
                    background-position: center -500px;
                }
            }
        }
    }


    .entry-content {
        blockquote {
            font-size: $font-size-base;
        }

        .bottom-details {
            .placeholder {
                @extend .shadow-2;
            }

            .sub-title {
                margin-bottom: ($line-height-computed * 2);
            }
        }
    }