///
/// FORMS
///

    .form-group {
        margin-bottom: $line-height-computed;
        position: relative;

        // SMALLER SCREENS
        @media screen and (max-width: $grid-float-breakpoint) {
            margin-bottom: ($line-height-computed * 1.5);
        }
    }
    .form-control {
        @include roboto-light;
        background-color: transparent;
        border: 2px solid $input-border;
        //border-bottom: 2px solid $input-border;
        box-shadow: none;
        font-size: $font-size-base;
        width: 100%;

        &:focus {
            border-color: rgba($brand-primary, 0.65);
            box-shadow: none;
            outline: none;
        }
    }
    textarea.form-control {
        max-width: 100%;
    }

/**
 * INPUT SIZES
**/
    .input-lg,
    .input-group-lg > .form-control,
    .input-group-lg > .input-group-addon,
    .input-group-lg > .input-group-btn > .btn,
    .form-group-lg .form-control {
        padding: 10px;
    }

    /* Form Control Labels */
    .form {
        label {
            @include roboto-medium;
            @include transition(0.2s all ease);
            color: $input-color;
            font-size: $font-size-small;
            position: absolute;
            top: -22px;

            > .req {
                color: $brand-primary;
            }
        }

        .float-label {
            font-size: $font-size-large;
            left: 20px;
            pointer-events: none;
            top: 10px;
        }
    }

/**
 * FLOATING LABELS
**/
    /* Active State */
    .form-control:focus ~ .float-label,
    .form-control:valid ~ .float-label {
        @include roboto;
        font-size: $font-size-small;
        left: 10px;
        top: -25px;
    }

    /* Validation States */
    .form-control:focus:invalid ~ .float-label,
    .form-control.focus:invalid ~ .float-label {
        color: rgba($brand-primary, 0.65);
    }

/**
 * Input Colors
**/
    /* Default */
    .form-control:focus {
        ~ label {
            color: $input-color;
        }
        ~ .form-bar:before, ~ .form-bar:after {
            ///background: rgba($brand-primary, 0.65);
        }
    }

/**
 * BAR STYLES
**/
    .form-bar {
        display: block;
        position: relative;
        width: 100%;

        &::before,
        &::after {
            @include transition(0.25s ease all);
            bottom: 0;
            content: '';
            height: 2px;
            position: absolute;
            width: 0;
        }
        &::before {
            left: 50%;
        }
        &::after {
            right: 50%;
        }
    }

    /* Active State */
    .form-control:focus ~ .form-bar::before,
    .form-control:focus ~ .form-bar::after {
        width: 50%;
    }

/**
 * HIGHLIGHT STYLES
**/
    .form-highlight {
        @include opacity(0.4);
        height: 100%;
        left: 20px;
        pointer-events: none;
        position: absolute;
        top: 0;
        width: 50%;
    }

    /* Active State */
    .form-control:focus ~ .form-highlight {
        @include animation(inputHighlighter 0.4s ease);
    }

    /* Input Highlighter */
    @-webkit-keyframes inputHighlighter {
        from {
            background: $brand-success;
        }
        to {
            background: transparent;
            width: 0;
        }
    }
    @-moz-keyframes inputHighlighter {
        from {
            background: $brand-success;
        }
        to {
            background: transparent;
            width: 0;
        }
    }
    @-ms-keyframes inputHighlighter {
        from {
            background: $brand-success;
        }
        to {
            background: transparent;
            width: 0;
        }
    }
    @-o-keyframes inputHighlighter {
        from {
            background: $brand-success;
        }
        to {
            background: transparent;
            width: 0;
        }
    }
    @keyframes inputHighlighter {
        from {
            background: $brand-success;
        }
        to {
            background: transparent;
            width: 0;
        }
    }


/**
 * SELECT DROPDOWNS
**/
    .select {
        border: none;
        color: $input-color;
        display: inline-block;
        position: relative;
        width: 100%;

        select {
            cursor: pointer;
            display: inline-block;
            line-height: 1.33;
            outline: none;
            padding-right: 36px;
            -webkit-appearance: none !important;
               -moz-appearance: none !important;
                -ms-appearance: none !important;
                 -o-appearance: none !important;
                    appearance: none !important;

            /* Undo The Firefox Inner Focus Ring */
            &:focus:-moz-focusring {
                color: transparent;
                text-shadow: 0 0 0 #000;
            }
        }

        .float-label {
            left: 13px;
        }

        /* Dropdown Arrow */
        &::after {
            background-color: transparent;
            color: $gray-light;
            content: '\f078';
            display: inline-block;
            font-family: 'FontAwesome';
            font-size: $font-size-small;
            //height: 0;
            margin-top: -10px;
            pointer-events: none;
            position: absolute;
            right: $font-size-base;
            top: 50%;
            //width: 0;
        }

        /**
         * Hover State
         * Uncomment If You Need It, But Be Aware Of The Sticky iOS States.
        **/
            // select {
                // &:hover {
                    // background-color: #ddd;
                // }
            // }

        /* Focus */
        select {
            &:focus {
                //@include box-shadow(0 0 0 0.075rem $white);
            }
        }

        select:focus ~ .float-label,
        select:valid ~ .float-label {
            left: 0;
        }

        /* Active/Open State */
        select {
            &:active {
                background-color: transparent;
                border: 2px solid $brand-success;
                color: $input-color;
            }
        }

        /* Hide The Arrow In IE10 And Up */
        select::-ms-expand {
            display: none;
        }
    }

    /* Media Query To Target Firefox Only */
    @-moz-document url-prefix() {
        /* Firefox Hack To Hide The Arrow */
        .select select {
            padding-right: 36px;
            text-indent: 0.01px;
            text-overflow: '';
        }

        /* <option> Elements Inherit Styles From <select>, So Reset Them */
        .select option {
            background-color: $white;
        }
    }

    /* IE9 Hack To Hide The Arrow */
    @media screen and (min-width:0\0) {
        .select select {
            padding: 10px 36px 10px 10px;
            z-index: 1;
        }
        .select::after {
            z-index: 5;
        }
        .select::before {
            background-color: transparent;
            bottom: 2px;
            content: '';
            display: block;
            position: absolute;
            right: 2px;
            top: 2px;
            width: 0;
            z-index: 2;
        }
        .select select:active,
        .select select:focus,
        .select select:hover {
            background-color: $white;
            color: $input-color;
        }
    }
