///
/// NAVIGATION
///

    .navbar {
        @extend .shadow-1;
        border: 0;
        margin-bottom: 0;
    }

    .navbar-toggle {
        @include navbar-vertical-align(56px);
        height: $navbar-height;
        margin-right: 0;
        padding: 9px 16px;
        width: $navbar-height;

        &:focus,
        &:hover {
            .icon-bar {
                background-color: rgba($white, 0.65);
            }
        }
    }

    .navbar-brand {
        background-color: rgba($white, 0.325);
        padding-right: ($navbar-padding-horizontal * 2);
        > img {
            display: inline-block;
            max-width: 44px;
        }
        .initials {
            @include calli;
            display: inline-block;
            position: relative;
            > span {
                font-size: $font-size-small;
                line-height: $font-size-large;
                padding: 0 6px;
                position: relative;
                top: -2px;
            }
        }

        // LARGER SCREENS
        @media screen and (min-width: $grid-float-breakpoint) {
            display: none;
            visibility: hidden;
        }
    }

    .navbar-collapse {
        border-top: 0;
    }
    .navbar-nav {
        margin-top: 0;

        // LARGER SCREENS
        @media screen and (min-width: $grid-float-breakpoint) {
            @include centered;
            float: none;
            max-width: 100%;
            width: 100%;

            > li {
                width: calc(100% / 7);

                > a {
                    @include centered;
                    border-right: 1px solid rgba($brand-primary, 0.325);
                    padding-left: 0;
                    padding-right: 0;
                }

                &:last-child {
                    > a {
                        border-right: none;
                    }
                }
            }
        }

        // LARGEST SCREENS
        @media screen and (min-width: $screen-lg-min) {
            max-width: $container-lg;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
