///
/// REGISTRY
///

    .registry {
        /* REGISTRY LINKS */
        .link {
            @include transition(0.3s background-color ease);
            background-color: transparent;
            height: 144px;

            &:focus,
            &:hover {
                background-color: $gray-lighter;
            }

            > img {
                @include centered;
                max-height: 144px;
                position: relative;
            }
            &.cruise,
            &.target {
                > img {
                    max-height: 90px;
                    top: 26px;
                }
            }

            // SMALLER SCREENS
            @media screen and (max-width: $grid-float-breakpoint) {
                &:not(.crate-barrel) {
                    border-top: 1px solid $divider-light;
                }

                > img {
                    max-height: 144px;
                }
            }
        }
    }
