///
/// COLORS
///

/** #MATERIAL DESIGN DEFAULTS
================================================== */
    @import 'material-colors';

/** #BRAND COLORS
================================================== */
    /// Blue
    $blue:              $blue-500;
    $blue-darker:       $blue-800;
    $blue-dark:         $blue-600;
    $blue-light:        $blue-400;
    $blue-lighter:      $blue-200;
    $blue-caret:        $blue-500;

    /// Red
    $red:               $red-400;
    $red-darker:        $red-700;
    $red-dark:          $red-500;
    $red-light:         $red-300;
    $red-lighter:       $red-200;
    $red-caret:         $red-400;

    /// Orange
    $orange:            $orange-500;
    $orange-darker:     $orange-800;
    $orange-dark:       $orange-600;
    $orange-light:      $orange-400;
    $orange-lighter:    $orange-200;

    /// Green
    $green:             $green-500;
    $green-darker:      $green-800;
    $green-dark:        $green-600;
    $green-light:       $green-400;
    $green-lighter:     $green-200;

    /// Teal
    $teal:              $teal-300;
    $teal-darker:       $teal-600;
    $teal-dark:         $teal-400;
    $teal-light:        $teal-200;
    $teal-lighter:      $teal-100;

/** #BLACK / GREY / WHITE
================================================== */
    $black:             $grey-900;
    $gray:              $grey-500;
    $gray-darker:       $grey-800;
    $gray-dark:         $grey-600;
    $gray-light:        $grey-400;
    $gray-lighter:      $grey-200;
    $white:             rgba(255, 255, 255, 1.0);

/** #BACKGROUNDS & DIVIDERS
================================================== */
    $border:            $gray-light;
    $border-dark:       $gray;
    $border-light:      $gray-lighter;

    $divider:           $border;
    $divider-dark:      $border-dark;
    $divider-light:     $border-light;
    $silver:            rgba(221, 221, 221, 1.0);

/** #CODE BLOCKS
================================================== */
    $code-text:         rgba(49, 167, 201, 1.0)     !default;    /// #31a7c9
    $code-background:   rgba(32, 22, 50, 1.0)       !default;    /// #201632


/* #WEB APPLICATIONS
================================================== */
    @import 'web-colors';