///
/// THE EVENTS
///

    .venue-details {
        .welcome {
            @include roboto-light;
            color: $gray;
            font-size: $font-size-base;
        }

        .vcard {
            border: 3px dashed $border;
            display: inline-block;
            padding: $line-height-computed ($line-height-computed * 3);
        }
    }