///
/// SOCIAL
///
    .social-feeds {
        .sub-title {
            @include roboto-bold;
            color: $white;
            padding: 10px;
        }
        /* TWITTER HEADING */
        .twitter {
            .sub-title {
                background-color: $twitter-blue;
            }
        }
        /* FACEBOOK HEADING */
        .facebook {
            .sub-title {
                background-color: $facebook;
            }
        }
        /* INSTAGRAM HEADING */
        .instagram {
            .sub-title {
                background-color: $instagram;
            }
        }

        /* MEDIA CARDS */
        .media {
            @extend .shadow-1;
            background-color: $white;
            //border-top: 2px solid darken($divider-light, 5%);
            padding: $line-height-computed 20px ($line-height-computed / 2);

            &:first-child {
                //border-top: none;
            }
        }
    }

    .media-heading {
        @include roboto-medium;
        line-height: 36px;
        small {
            @include roboto-light;
            color: $gray;
            font-size: $font-size-small;
            line-height: 1;
            margin-left: 6px;
        }
    }
    .media-body {
        > .post-time {
            @include roboto-light;
            color: $gray;
            display: block;
            font-size: $font-size-small;
            margin-bottom: 6px;
            text-align: right;
        }
        .caption {
            @include roboto-light;
            color: $gray-dark;
            margin-bottom: 0;
            padding: 10px;

            a {
                color: $brand-primary;
            }
        }
    }

    .btn-social {
        color: $gray-light;
        font-size: ($font-size-base - 2);

        /* Twitter */
        &.reply,
        &.retweet,
        &.favorite {
            &:focus,
            &:hover {
                color: $twitter-blue;
            }
        }

        /* Facebook */
        &.like,
        &.comment,
        &.share {
            &:focus,
            &:hover {
                color: $facebook;
            }
        }

        /* Instagram */
        &.love,
        &.comments {
            &:focus,
            &:hover {
                color: $instagram;
            }
        }
    }