///
/// CAROUSEL
///

    .wedding-slideshow {
        .slide {

        }
        .slide-inner {
            position: relative;
        }
        .best-friends {
            @include img-responsive;
            @include centered;
        }

        .person {
            border: 1px solid $border-light;
            box-shadow: none;
            position: relative;

            .section-title {
                color: $brand-primary;
                margin-bottom: 10px;
            }
            .sub-title {
                @include roboto-light-italic;
                font-size: $font-size-base;
                margin-top: 0;
            }

            .bio {
                @include roboto-light;
                border-top: 1px solid $divider-light;
                font-size: $font-size-small;
                min-height: 182px;
                padding: ($line-height-computed / 2) 30px;

                p:last-child {
                    margin-bottom: 0;
                }
            }

            // LARGER SCREENS
            @media screen and (min-width: $grid-float-breakpoint) {
                @include box-shadow(0 2px 5px 0 rgba(0, 0, 0, 0.26),
                                    0 2px 10px 0 rgba(0, 0, 0, 0.16));
                position: absolute;
                top: 80px;

                .bio {
                    padding: $line-height-computed 30px;
                }

            }

        }

        .slick-prev,
        .slick-next {
            @include transition-duration(0.3s);
            height: 50px;
            width: 25px;
            &::before {
                @include transition-duration(0.3s);
                color: $gray;
                font-size: $font-size-large;
                position: relative;
                top: 2px;
            }
        }
        .slick-prev {
            left: 0;
        }
        .slick-next {
            right: 0;
        }


        // SMALLER SCREENS
        @media screen and (max-width: $screen-xs-min) {
            .slick-prev,
            .slick-next {
                display: none;
                visibility: hidden;
            }
        }
    }

    .slick-dots {
        li {
            button {
                &::before {
                    @include transition-duration(0.3s);
                }
            }
        }
    }