///
/// GOOGLE MAPS
///
    #ceremonyMap {
        border: none;
        border-top: 1px solid $border-light;
        height: 100%;
        margin: 0;
        min-height: 450px;
        padding: 0;

        // SMALLER SCREENS
        @media screen and (max-width: $grid-float-breakpoint) {
            border: 15px solid $white;
            border-top: none;
            min-height: 300px;
        }
    }
