///
/// TYPOGRAPHY STYLES
///

    .accent-color {
        color: $brand-success;
    }

    .section-title,
    .sub-title {
        padding: 0 15px;
    }

    .section-title {
        @include calli;
    }

    .sub-title {
        @include roboto-light;
        color: $gray;
    }

    p {
        a:not(.btn) {
            border-bottom: 2px solid $brand-success;

            &:focus,
            &:hover {
                border-color: $brand-primary;
            }
        }
    }

    blockquote {
        @include roboto-light-italic;
        border-left: 6px solid rgba($brand-primary, 0.35);
    }
