///
/// UTILITIES
///

    /* Centered Content */
    .centered {
        @include centered;
    }

    /* No Margin */
    .no-margin {
        margin-bottom: $line-height-computed;
        margin-top: $line-height-computed;
        &.top {
            margin-top: 0;
        }
        &.bottom {
            margin-bottom: 0;
        }
    }

    /* Icon Styles */
    .icon {
        background-repeat: no-repeat;
        display: -moz-inline-stack;
        display: inline-block;
        line-height: 1;
        position: relative;
        top: -1px;
        vertical-align: middle;
        zoom: 1;
    }

    /* Two Hearts Icons */
    .two-hearts {
        background-repeat: no-repeat;
        display: inline-block;
        position: relative;
        vertical-align: middle;
    }

    /**
     * SVG Icons
     * @Source - svgicons.sparkk.fr
    **/
    .svg-icon {
        height: $font-size-large;
        width: $font-size-large;

        path,
        polygon,
        rect {
            @include transition(all 0.3s ease);
            fill: $brand-success;
        }

        circle {
            @include transition(all 0.3s ease);
            stroke: $brand-success;
            stroke-width: 1;
        }
    }
