///
/// CARDS
///

    .card {
        @extend .shadow-1;
        @include border-radius($border-radius-small);
        @include transition(all 0.3s ease);
        background-color: $white;
        margin-bottom: $line-height-computed;
        margin-top: $line-height-computed;
        position: relative;

        &:active,
        &:focus,
        &:hover {
            @extend .shadow-2;
            .card-holder {
                background-color: rgba($black, 0.5);
            }
        }

        .card-holder {
            @include transition(all 0.3s ease);
            background-color: rgba($black, 0.35);
            bottom: 0;
            display: block;
            height: 90px;
            left: 0;
            margin: 0;
            padding: 10px 20px;
            position: absolute;
            //top: 0;
            width: 100%;

            .block {
                bottom: 0;
                color: $white;
                left: 0;
                padding: 10px 20px;
                position: absolute;
                width: 100%;
                .icon {
                    font-size: 24px;
                    line-height: 24px;
                    top: 1px;
                }
                span {
                    @include roboto-medium;
                    font-size: $font-size-base;
                    margin: 0;
                }
            }
        }
    }

    .card-heading {
        @include roboto-light;
        bottom: 44px;
        color: $white;
        margin: 0;
        position: absolute;

        // SMALLER SCREENS
        @media screen and (max-width: $grid-float-breakpoint) {
            font-size: $font-size-h4;
        }
    }

    .card-media {
        @include border-radius(2px 2px 0 0);
        position: relative;
    }

    .card-media-image {
        @include border-radius(2px 2px 0 0);
        width: 100%;
    }

    .card-body {
        @include roboto-light;
        border: 1px solid $border-light;
        border-top: none;
        padding: $line-height-computed 20px ($line-height-computed / 2);

        .icon {
            float: left;
            font-size: 32px;
        }
    }

    .card-footer {
        @include border-radius(0 0 2px 2px);
        padding: 10px 20px;

        .btn {
            padding: 0;

            &:active,
            &:focus,
            &:hover {
                color: $brand-primary;

                .svg-icon {
                    path,
                    polygon,
                    rect {
                        fill: $brand-primary;
                    }
                    circle {
                        stroke: $brand-primary;
                    }
                }
            }
        }
    }
