///
/// TILES
///

    .tile {
        @include border-radius($border-radius-small);
        @include transition(0.15s all ease-in-out);
        border: 0;
        color: $white;
        cursor: pointer;
        display: block;
        float: left;
        height: 270px;
        margin-bottom: $line-height-computed;
        margin-top: $line-height-computed;
        outline: 0;
        overflow: hidden;
        position: relative;
        width: 100%;

        &:active,
        &:focus,
        &:hover {
            @extend .shadow-2;

            .content-wrapper {
                .tile-content {
                    .tile-holder {
                        background-color: rgba($black, 0.5);

                        .icon {
                            color: rgba($white, 0.5);
                        }
                    }
                }
            }
        }

        .content-wrapper {
            @include transition(all 0.5s cubic-bezier(0.55, 0, 0.1, 1));
            display: block;
            position: absolute;
            top: 0;
            width: 100%;

            .tile-content {
                display: block;
                height: 270px;
                overflow: hidden;
                padding: 0;
                position: relative;

                .tile-image {
                    @include background-size(cover);
                    background-position: center center;
                    background-repeat: no-repeat;
                    display: block;
                    height: 270px;
                    margin: 0 auto;
                    position: relative;
                    width: 100%;
                }

                .tile-holder {
                    background-color: rgba($black, 0.35);
                    bottom: 0;
                    display: block;
                    left: 0;
                    margin: 0;
                    padding: 10px 20px;
                    position: absolute;
                    width: 100%;

                    .icon {
                        color: rgba($white, 0.5);
                        font-size: $font-size-base;
                        top: 6px;
                    }
                }
            }
        }

        .title {
            @include roboto-light;
            color: $white;
            font-size: $font-size-base;
        }
    }